/* Animations */ 
@keyframes sideline {
    from {
        top: calc(calc(100% / 2) - 32px);
        height: 0px;
    }
    to {
        top: calc(calc(100% / 2) - 42px);
        height: 20px;
    }
}

/*Base styles for sidebar */
.sidebar {
    background: #1E1E1E;
    position: absolute;
    width: 180px;
    height: 100vh;
    margin: -8px;
    z-index: 500;
}

.sidebar-grid {
    position: absolute;
    top: 83px;
    left: 0px;
    height: calc(100vh - 133px);
    width: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 50px;
}

/* Sidebar items */
.sidebarlink {
    position: relative;
    left: 0px;
    top: 0px;
    cursor: pointer;
}

/* Sidebar link transition effects */
.sidebar-grid .sidebarlink {
    background: #1E1E1E;
    transition: 0.4s ease-out all .01s;
}
.sidebar-grid .sidebarlink:hover {
    background: #353535;
    transition: 0.4s ease-out all .01s;
}

.sidebar-grid .sidebarlink.selected {
    background: #353535;
    transition: none;
}
.sidebar-grid .sidebarlink.selected::after {
    display: block;
    position: relative;
    content: "";
    
    background: white;
    left: 0px;
    top: calc(calc(100% / 2) - 42px);
    height: 20px;
    width: 4px;

    animation-name: sideline;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
}

/* Styling and Spacing for elements in sidebar links */
.sidebarlink img {
    position: relative;
    left: 10px;
    top: 10px;

    width: 32px;
    height: 32px;
}
.sidebarlink h6 {
    position: absolute;
    top: -14px;
    left: 64px;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
}
.sidebarlink h5 {
    position: absolute;
    top: 3px;
    left: 64px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}


/* Styling and Spacing for upper information panel */ 
.appinfo img {
    position: relative;
    left: 0px;
    top: 8px;

    width: 64px;
    height: 64px;
}
.appinfo h6 {
    position: absolute;
    top: -10px;
    left: 64px;
    color: white;
    font-size: 12px;
}
.appinfo h5 {
    position: absolute;
    top: 8px;
    left: 64px;
    color: white;
    font-size: 16px;
}