/* Animations */
@keyframes underline {
    from {
        width: 0px;
        left: calc(calc(100% / 2) - 20px);
    }
    to {
        width: 20px;
        left: calc(calc(100% / 2) - 30px);
    }
}

/* basic header styles */
.header {
    background: #282828;
    position: absolute;
    left: 180px;
    top: 0px;
    width: 100vw;
    height: 83px;
    margin: 0px;
    box-shadow: -0.05px 0.05px 10px #282828;
    z-index: 1000;
}

/* Header title */
.header h6 {
    position: absolute;
    top: -24px;
    left: 16px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

/* grid settings */
.header-grid {
    display: grid;
    width: 100%;
    height: 50px;
    left: 40px;
    top: 50px;
    position: absolute;
    grid-template-rows: 50px;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
    font-size: 14px;
}

/* Header links styling */
.header-grid a {
    color: rgb(177, 177, 177);
    padding-right: 40px;
}
.header-grid a:hover {
    color: white;
}

.header-grid a.selected {
    color: white;
    width: 100%;
    margin-top: -4px;
    text-shadow:0px 0px 1px white;
}

/* Header links styling selected animation */
.header-grid a.selected::before {
    display: block;
    position: relative;
    content: "";
    top: 32px;
    left: calc(calc(100% / 2) - 30px);
    width: 20px;
    height: 4px;
    background-color: #008542;

    animation-name: underline;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;
}